*{
  box-sizing: border-box;
}

span{
  display: block;
}

.main-page__image {
  position: relative;
  background: url("./imgs/backdrop.webp") no-repeat bottom;
  background-size: cover;
}

.main-page__gradient {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(80,200, 100,1) 52%);
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth {
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  z-index: 10;
}
