
.restaraunts{
    display: flex;
    margin: 0 auto;
    padding: 40px;
}
.restaraunt-info{
    width:400px;
    height: 400px;
    border: 2px solid black;
    margin: 20px;
    padding: 15px;
    background-color: aquamarine;
    text-align: center;
}

.restaraunt-info .restaraunt-img{
    height: 100px;
    text-align: center;
}

.restaraunt-info img{
    height: 100px;
}
