.delete{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #f44336;
    margin-left: 25px;
}

.item{
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 25px;
    padding: 10px 25px;
    border-bottom: 1px solid black;

}


.block{
    background-color: #50c86452;
    padding: 15px;
}

.buy{
    border-color:1px solid #94aa2a;
    color: #94aa2a;
    display: inline-block;
    padding: 10px 25px;
}
.buy:hover{
    color: #fff;
    background: #94aa2a;
    border-color: #94aa2a;
}
